@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');

@font-face {
  font-family: 'Montserrat-bold';
  src: url('./../fonts/Montserrat/Montserrat-Bold.eot');
  src: url('./../fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('./../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
  url('./../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
  url('./../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'),
  url('./../fonts/Montserrat/Montserrat-Bold.svg#Montserrat-bold') format('svg');
}
